<table class = "table">
    <thead>
      <tr>
        <th>Location ID</th>
        <th>Street Address</th>
        <th>Postal Code</th>
        <th>City</th>
        <th>State Province</th>
        <th>Country ID</th>
      </tr>
    </thead>
    <tbody>
      <td>{{location.locationId}}</td>
      <td>{{location.streetAddress}}</td>
      <td>{{location.postalCode}}</td>
      <td>{{location.city}}</td>
      <td>{{location.stateProvince}}</td>
      <td>{{location.countryId}}</td>
    </tbody>
  </table>