<div>
  <nav>
    <a routerLink="employee" class="btn btn-primary active" role="button" routerLinkActive="active">Employees</a>
    <a routerLink="department" class="btn btn-primary active" role="button" routerLinkActive="active">Departments</a>
    <a routerLink="location" class="btn btn-primary active" role="button" routerLinkActive="active">Locations</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add Employee</a>
    <a routerLink="findbyfirstname" class="btn btn-primary active" role="button" routerLinkActive="active">Search Employee</a>
  </nav>
  <router-outlet></router-outlet>
</div>